<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Log In</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Log In</h1>
        <div>
        <!-- Create a log in form here -->
        <form>
            
            <form method="post">
                <label for="Email">Email: </label>
                <input type="email" id="email" name="Email" value="" minlength="2" required/>
                <br>
            <form method="post">
                <label for="Password">Password: </label>
                <input type="password" id="Password" name="Password" value="" minlength="2" required/>
                <br>
                <input type="submit">
                <br>
             </form>


          </form>
        </div>
        
        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>
